@import "tailwindcss";
@plugin "daisyui";
:root {
  --primary: #f96635;
  --background: #ffffff;
  --text: #000000;
}

[data-theme="dark"] {
  --primary: #90cdf4;
  --background: #1a202c;
  --text: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--text);
}

/* custom classes */
.bg-primary {
  background-color: var(--primary)
}
.text-primary {
  color: var(--primary)
}