@import "tailwindcss";
@plugin "daisyui";
:root {
  --primary: #f96635;
  --background: #ffffff;
  --text: #000000;
}
@theme {
  --color-main:#f96635
}
@layer{
  .wrapper{
    @apply w-full px-6 md:px-10 sm:w-full md:w-3xl lg:w-5xl xl:w-7xl mx-auto py-20
  };
  .button {
    @apply bg-main text-base font-semibold px-2 py-2 text-white rounded-md hover:opacity-90 cursor-pointer
  }

/* Individual  levels */
.h1 {
  @apply  text-5xl md:text-6xl leading-tight;
}

.h2 {
  @apply  text-4xl md:text-5xl leading-snug;
}

.h3 {
  @apply  text-3xl md:text-4xl leading-normal;
}

.h4 {
  @apply  text-2xl md:text-3xl font-medium;
}

.h5 {
  @apply  text-lg md:text-xl font-medium;
}

.h6 {
  @apply  text-base md:text-lg font-medium;
}
  
};


[data-theme="dark"] {
  --primary: #90cdf4;
  --background: #1a202c;
  --text: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--text);
}

.swiper-button-prev, .swiper-button-next{
  color:#f96635 !important;
  font-size:12px !important;
}


