@import "tailwindcss";
@plugin "daisyui";
:root {
  --primary: #f96635;
  --background: #ffffff;
  --text: #000000;
}
@theme {
  --color-main:#f96635
}
@layer{
  .wrapper{
    @apply w-7xl mx-auto py-20
  };
  .button {
    @apply bg-primary text-base font-semibold px-2 py-1 text-white rounded-md
  }
  
};


[data-theme="dark"] {
  --primary: #90cdf4;
  --background: #1a202c;
  --text: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--text);
}

.swiper-button-prev, .swiper-button-next{
  color:#f96635 !important;
  font-size:12px !important;
}